/* Configurações gerais */
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(../imagens/backgroundspider.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Configuração do cabeçalho */
header {
    margin-top: 5px;
    height: 80px;
    width: 100%; 
}

/* Logo da aranha - cabeçalho*/
#container-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#container-logo img {
    position: relative;
    left:-10px;
    height: 60px;
    width: 60px;
}

/* Menu de navegação - cabeçalho */
#container-navegation {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    top: -52px;
}

#container-navegation a {
    text-decoration: none;
    font-size: 18px;
    text-transform: capitalize;
    padding: 8px 10px;
    border-radius: 20px;
    color: #ffffff;
    transition: 1s;
}

#container-navegation a:hover {
    background-color: rgb(92, 92, 252);
    transition: 1s ease-in-out;
}

/* Configuração de todos os cards */
#boxcard-geral {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5vh;
    width: 100%;
    height: 730px;
}

/* Container dos cards */
.container-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 580px;
    width: 380px;
    padding: 0 5px;
    border-radius: 15px;
    cursor: pointer;
    transition: 1s;
}

.container-card:hover {
    transform: translateY(-10px);
    transition: 1s;
    border: 1px solid white;
}

/* Titulo dos cards */
.container-card h1 {
    text-transform: capitalize;
    color: white;
    font-size: 35px;
    margin-bottom: 10px;
}

/* Imagem dos Cards */
.container-card img {
    border-radius: 8px;
    height: 350px;
    width: 320px;
}

/* Descrição sobre os personagens nos cards */
.container-description {
    text-align: center;
    padding: 15px;
    font-size: 14px;
    color: white;
}

/* Card do Miles Morales*/
.box-morales {
    background-color: #000000;
}

/* Card do Peter Parker */
.box-peter {
    background-color: #ff0000;
}

/* Card da Gwen Stacy */
.box-gwen {
    background-color: #ff04ab;
}

.box-gwen h1 {
    margin-top: -20px;
}

/* Configuração do rodapé */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    color: white;
}

footer p {
    color: white;
    font-size: 14px;
}

footer span {
    color: yellow;
}

/* Configuração do responsivo */
/* Telas 1680px */
@media screen and (max-width: 1680px) {
/* Configuração de todos os cards */
#boxcard-geral {
    margin-top: 3vh;
}
}

/* Telas de 1440px */
@media screen and (max-width:1440px) {
/* Configuração de todos os cards */
#boxcard-geral {
    height: 550px;
    margin-top: 5vh;
}
        
/* Container dos cards */
.container-card {
    height: 520px;
    width: 320px;
} 
        
/* Titulo dos cards */
.container-card h1 {
    font-size: 30px;
}
        
/* Imagem dos Cards */
.container-card img {
    height: 280px;
    width: 280px;
}

/* Descrição sobre os personagens nos cards */
.container-description {
    font-size: 14px;
}

/* Configuração do rodapé */
footer {
    margin-top: 70px;
}
}

/* Telas de 1024px */
@media screen and (max-width:1024px) {
/* Configuração do corpo do site */
body {
    height: 100vh;
}

/* Configuração do cabeçalho */
header {
    margin-top: 15px;
    height: 50px;
}

/* Logo da aranha - cabeçalho*/
#container-logo img {
    height: 50px;
    width: 50px;
}

/* Configuração de todos os cards */
#boxcard-geral {
    height: 550px;
    margin-top: 5vh;
}
    
/* Container dos cards */
.container-card {
    height: 500px;
    width: 320px;
} 
    
/* Titulo dos cards */
.container-card h1 {
    font-size: 25px;
}
    
/* Imagem dos Cards */
.container-card img {
    height: 250px;
    width: 270px;
}
    
/* Descrição sobre os personagens nos cards */
.container-description {
    font-size: 14px;
}

/* Configuração do rodapé */
footer {
    margin-top: 70px;
}
}

/* Telas de 884px */ 
@media screen and (max-width:884px) {
/* Configuração do cabeçalho */
header {
    margin-top: 30px;
    height: 50px;
}
/* Background do site */
body {
    height: 100vh;
}

/* Configuração de todos os cards */
#boxcard-geral {
    margin-top: 15vh;
    gap: 2px;
}
/* Container dos cards */
.container-card {
    height: 520px;
    width: 280px;
} 
    
/* Titulo dos cards */
.container-card h1 {
    font-size: 22px;
}
    
/* Imagem dos Cards */
.container-card img {
    height: 250px;
    width: 250px;
}
    
/* Descrição sobre os personagens nos cards */
.container-description {
    font-size: 14px;
}

/* Configuração do rodapé */
footer {
    margin-top: 200px;
}
}

/* Telas de 800px */ 
@media screen and (max-width:800px) {

/* Configuração do cabeçalho */
header {
    margin-top: 25px;
    height: 50px;
}

/* Menu de navegação - cabeçalho */
#container-navegation {
    justify-content: space-around;
}

/* Configuração de todos os cards */
#boxcard-geral {
    margin-top: 2vh;
    flex-wrap: wrap;
    gap: 16px;
}
    
/* Container dos cards */
.container-card {
    height: 520px;
    width: 340px;
} 
    
/* Titulo dos cards */
.container-card h1 {
    font-size: 25px;
}
    
/* Imagem dos Cards */
.container-card img {
    height: 270px;
    width: 300px;
}
    
/* Descrição sobre os personagens nos cards */
.container-description {
    font-size: 14px;
}

/* Configuração do rodapé */
footer {
    margin-top: 525px;
}
}

/* Telas de 768px */
@media screen and (max-width:768px) {
/* Configuração do cabeçalho */
 header {
    height: 65px;
}

/* Logo da aranha - cabeçalho*/
#container-logo img {
    position:relative;
    left:-10px;
    height: 40px;
    width: 40px;
}

/* Menu de naveção - cabeçalho */
#container-navegation {
    justify-content: space-evenly;
    top: -45px;
}

#container-navegation a {
    font-size: 16px;
}

/* Configuração de todos os cards */
#boxcard-geral {
    margin-top: 7vh;
    height: 550px;
}
    
/* Container dos cards */
.container-card {
    height: 430px;
    width: 240px;
} 
    
/* Imagem dos Cards */
.container-card img {
    height: 180px;
    width: 200px;
}
    
/* Descrição sobre os personagens nos cards */
.container-description {
     font-size: 12px;
}

footer {
    margin-top: 200px;
}
}

/* Telas de 428px */